# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

# Markdown override allow for spaces at end of line
[*.md]
trim_trailing_whitespace = false

# Python: PEP8 defines 4 spaces for indentation
[*.py]
indent_size = 4
